include ./_date.jade
ul.posts
  each article, slug in public.articles._data
    li.post
      span.date #{displayDate(article.date)}
      br
      - if (slug.indexOf('http') === 0)
        a(href="#{slug}") #{article.title} →
      - else
        a(href="/articles/#{slug}") #{article.title}
